#
# Plugin configuration file for Image/J 1.40g or newer
#

# Author:   Antonio Vergari, Francesco Tangari
# Version:  @BUILD_VERSION@
# Date:     @BUILD_DATE@
# Requires: ImageJ 1.40g



#-------------------------------------------------------------------------
# Segmentation
#
# OLD K-MEANS

Plugins>Segmentation, "Jarek Sacha's k-means Clustering ...", clustering.old.kmeans.KMeansClusteringPlugin("")
Help>About Plugins, "Jarek Sacha's k-means Clustering...", clustering.old.kmeans.KMeansClusteringPlugin("about")

# REFACTORED K-MEANS

Plugins>Segmentation, "REF k-means Clustering", clustering.kmeans.KMeansPlugin("")
Help>About Plugins, "REFACTORED k-means", clustering.kmeans.KMeansPlugin("about")

# Fuzzy C-Means
Plugins>Segmentation, "Fuzzy C-Means Clustering", clustering.fcm.FCMPlugin("")

# Spatial Fuzzy C-Means
Plugins>Segmentation, "Spatial Fuzzy C-Means Clustering", clustering.sfcm.SFCMPlugin("")